<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>
        {%block title%}

        {%endblock%}
    </title>
</head>
<body>
{%block header%}
<header>
    <div class="left-header">
        <a href="/panel">Главная</a>
        </div>
    <div class="center-header"></div>
    <div class="right-header">
        {{ data.username }}<br>
        <a href="/logout">Выход</a>
    </div>
</header>
{%endblock%}
<main>
    <div class="sidebar">
        <h3>Управление</h3>
        <a href="/settings">Настройки</a><br>
        <a href="/users">Пользователи</a>
    </div>
    <div class="content">
    {%block content%}

    {%endblock%}
    </div>

</main>
</body>
</html>