<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <title>
        {%block title%}

        {%endblock%}
    </title>
</head>
<body>
<main>
    <div class="login-form">
        <form action="" method="post">
        <div class="login">
            <label for="login_input">Login</label>
            <input name="login" type="text" id="login_input" placeholder="Enter login">
        </div>
        <div class="password">
            <label for="password_input">Password</label>
            <input name="password" type="password" id="password_input" placeholder="Enter password">
        </div>
        <div class="email">
            <label for="email_input">Email</label>
            <input name="email" type="email" id="email_input" placeholder="Enter email">
        </div>
        <button>Войти</button>
        </form>
    </div>
</main>
</body>
</html>